@model IEnumerable<DemoMusicMVC.Models.Song>

@{
    ViewData["Title"] = "Songs";
    var currentUserId = ViewData["CurrentUserId"] as string;
}

<p>
    <a asp-action="Create">Upload A New Song</a>
</p>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card ml-0 h-100" style="max-width: 20rem;">
            <div class="view overlay">
                <img class="card-img-top" src="/app-images/@item.photoPath"
                     alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">@item.songName</h4>
                <a class="btn btn-link pl-0 text-primary" asp-action="Details" asp-route-id="@item.songId">Play</a>
                <a class="btn btn-link pl-0" asp-action="Edit" asp-route-id="@item.songId">Edit</a>
                <a class="btn btn-link pl-0 text-danger" asp-action="Delete" asp-route-id="@item.songId">Delete</a>
            </div>
        </div>
    }
</div>